@font-face {
  font-family: "Helvetica-Neue-Lt-Pro-Black";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/HelveticaNeueLTProBlk.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica-Neue-Lt-Pro-Extended";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/HelveticaNeueLTProLtEx.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica-Neue-Lt-Pro-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/HelveticaNeueLTProBd.woff2") format("woff2");
}
