:root {
  --colour-body: hsl(0, 0%, 90%);
  --colour-hover: #e6e619;

  --helvetica-black: "Helvetica-Neue-Lt-Pro-Black", Helvetica, Arial, sans-serif;
  --helvetica-ext: "Helvetica-Neue-Lt-Pro-Extended", Helvetica, Arial,
    sans-serif;
  --helvetica-bold: "Helvetica-Neue-Lt-Pro-Bold", Helvetica, Arial, sans-serif;

  --transition-hover: 150ms ease-in-out;
  --transition-250: 250ms ease-in-out;
}

body {
  /*   background: repeating-linear-gradient(
    90deg,
    hsl(0, 0%, 98%) 0 1px,
    white 1px 25px
  ); */
}

::selection {
  background-color: rgba(230, 230, 25, 0.35);
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  z-index: 999;
}

.footer__nav-bar {
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  gap: 1rem;

  background-image: url(../images/texture.jpg);
  background-position: center;
  background-size: 150%;
  opacity: 0.9;

  box-shadow: 0px 0px 40px 0px rgba(230, 230, 230, 0.5) inset;
}

a {
  text-decoration: none;
  color: transparent;
}

.nav-bar__link,
.footer__body {
  color: var(--colour-body);
  font-family: var(--helvetica-bold);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.125rem;
  letter-spacing: -0.045rem;

  transition: color var(--transition-hover);
}

.footer__body {
  color: hsl(0, 0%, 85%);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33.3% {
    transform: rotate(-35deg);
  }
  66.6% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.link__bracket {
  color: var(--colour-body) !important;
}
@media (hover: hover) {
  .nav-bar__link:hover {
    color: var(--colour-hover);
    animation: shake ease-in-out infinite;
  }
}

.feed {
  width: 100vw;
  max-width: 2000px;
  margin: auto;
  padding: 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  column-gap: 1.5rem;
}

.feed__project {
  color: transparent;
  background: url(../images/texture_90-ccw.jpg);
  background-clip: text;
  background-size: 100%;

  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.21rem;
  align-self: center;
  white-space: nowrap;

  cursor: pointer;
}

.project__order {
  display: inline;
  margin-right: 0.1rem;

  color: var(--colour-body);
  font-family: var(--helvetica-ext);
  text-decoration: none !important;
}

.project__title {
  display: inline;
  margin: 0rem 0.25rem 0rem 0.25rem;

  font-family: var(--helvetica-black);
  white-space: pre-wrap;

  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: all var(--transition-250);
}

@media (hover: hover) {
  .feed__project:hover .project__title {
    color: rgba(230, 230, 25, 0.5);
    text-decoration: underline;
  }
}
.project__state-icon {
  position: absolute;
  width: 0.6em;
  height: 0.6em;

  display: inline;

  transform: translate(-37%, -32.5%);
  transition: transform var(--transition-hover);
}

.state-icon__stem {
  position: absolute;
  width: 0.6em;
  height: 0.075em;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: #d195b3;

  transition: all var(--transition-hover);
}

.vertical {
  width: 0.075em;
  height: 0.6em;
}

.vertical--open {
  height: 0 !important;
}

@media (hover: hover) {
  .feed__project:hover .project__state-icon {
    transform: translate(-37%, -32.5%) rotate(180deg);
  }

  .feed__project:hover .state-icon__stem {
    background-color: #668899;
    height: 0.15em;
  }

  .feed__project:hover .vertical {
    width: 0.15em;
    height: 0.6em;
  }
}

@media screen and (max-width: 1450px) {
  .feed {
    max-width: 1300px;
  }

  .feed__project {
    font-size: 3.5rem;
    max-width: 30ch;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar {
    position: relative;
    padding-bottom: 0;

    justify-content: center;
  }

  .nav-bar__contact {
    padding: 1rem;

    /*     display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
  }

  .nav-bar__contact * {
    text-align: center;
  }

  .nav-bar__body {
    display: none;
  }
  .feed {
    /* max-width: 1000px; */
    flex-flow: column nowrap;
    row-gap: calc((2.45rem * 0.9) / 2);
  }

  .feed__project {
    font-size: 2.45rem;
  }
}
